body, html {
  margin: 0;
  padding: 0;
}

.chatroom {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: lightslategray;
    flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:  repeating-linear-gradient(112deg,rgb(235, 235, 238), rgb(202, 202, 201), rgb(222, 238, 234), #615e5e);
  border-radius: 8px;
  height: 80%;
  width: 80%;
  border: 5px solid black;
}

.infoBar h4 {
  font-size: 70px;
  color: rgb(0, 0, 0);
  margin: 10px 0 0 20px;
}

.infoBar {
  border-bottom: 5px solid black;
  height: 9rem;
}

.messagesContainer {
  /* border-bottom: 5px solid black; */
  display: flex;
  align-self: auto;
  flex-direction: column;
  overflow: auto;
  align-items: flex-start;
  justify-content: flex-start;
  list-style-type: none;
  margin-bottom: auto;
}

/* ul {
  list-style-type: none;
} */

li {

  height: 1rem;
}
