.form {
  display: flex;
  /* height: 10rem; */
}

.input {
  border: 0.5px solid black;
  border-radius: 5px;
  padding-left: 2rem;
  width: 70%;
  font-size: 2rem;
  height: 43px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  background: #7e45f0;
  border-radius:5px;
  padding: 10px;
  display: inline-block;
  width: 30%;
  height: 47px;
  border-bottom-right-radius: 3px;
  font-size: 19px;
  font-weight: bold;
}
.sendButton:hover{
  cursor: pointer;
  background: #4b0dc5;
  color: rgb(2, 0, 0) !important;
} 